
body::-webkit-scrollbar {
  display: none;
}

.certificato{
  display:none;
}

.page1{z-index: 3;}
.page5{z-index: 3;}

/* attributi soli */
.black {
  background-color: black;
}

.white {
  background-color: white;
}

.white_txt {
  color: white;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.title_size {
  font-size: 30pt;
}

.text_size {
  font-size: 20pt;
}

.opacity_05 {
  opacity: 0.1!important
}

.opacity_0 {
  opacity: 0
}

.opacity_black{
  opacity: 0.8 !important;
}

.public_sans{
  font-family: 'Public Sans';
}

.white{
  background-color: white;
}

/* comuni */
.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 55vh;
  width: 100vw;
  height: 110vh;
}

.eliminated {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: -70vw;
  width: 100vw;
  height: 100vh;
}


@keyframes eliminated_slideup {
  from {
    top: 50vh
  }

  to {
    top: -50vh;
  }
}

.eliminated_slideup {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 100vh;
  animation: eliminated_slideup 2s forwards;
}

@keyframes centered_slideup {
  from {
    top: 150vh
  }

  to {
    top: 55vh;
  }
}

.centered_slideup {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 110vh;
  animation: centered_slideup 2s forwards;
}

@keyframes eliminated_slidedown {
  from {
    top: 50vh
  }

  to {
    top: 150vh;
  }
}

.eliminated_slidedown {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 100vh;
  animation: eliminated_slidedown 2s forwards;
}

@keyframes centered_slidedown {
  from {
    top: -50vh
  }

  to {
    top: 55vh;
  }
}

.centered_slidedown {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 110vh;
  animation: centered_slidedown 2s forwards;
}

@keyframes centered_opacity_leggero {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}

.centered_opacity {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 110vh;
  top: 55vh;
  animation: centered_opacity_leggero 2s forwards;
}
@keyframes centered_opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.centered_opacity {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 110vh;
  top: 55vh;
  animation: centered_opacity 2s forwards;
}

@keyframes eliminated_opacity {
  from {
    opacity: 0.95;
  }

  to {
    opacity: 0;
  }
}

.eliminated_opacity {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 110vh;
  top: 55vh;
  animation: eliminated_opacity 2s forwards;
}

.button {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50vw;
  top: 75vh;
  /* width: 120px; */
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Public Sans';
  border: 0;
}

@keyframes eliminated_opacity_arrow {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    left: 50vw;
  }

  30.1% {
    opacity: 0;
    left: -150vw;

  }

  100% {
    opacity: 0;
    left: -150vw;
  }
}

.eliminated_arrow {
  position: absolute;
  left: 50vw;
  animation: eliminated_opacity_arrow 2s forwards;
}

@keyframes centered_opacity_arrow {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.centered_arrow {
  position: absolute;
  left: 50vw;
  animation: centered_opacity_arrow 2s forwards;
}

.arrow {
  position: absolute;
  transform: translate(-50%, 50%);
  left:50%;
  width: 72px;
}

.arrow_down {
  position: absolute;
  transform: translate(-50%, 0%);
  width: 500px;
  height: 200px;
  top: 75vh;
  /* border:1px solid white; */
}

.arrow_top {
  /* border:1px solid white; */
  width: 500px;
  height: 200px;
  top: 0vh;
  transform: translate(-52%, 0) rotate(180deg);
}

@keyframes button_lampeggiante {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.lampeggio {
  animation: button_lampeggiante 2s infinite;
}

/* specifici */
.logo {
  position: absolute;
  width: 400px;
  /* height: 19.5vh; */
  transform: translate(-50%, -50%);
  left: 50.5%;
  top: 45vh;
}


.text {
  position: absolute;
  line-height: 40px;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  font-family: 'Public Sans';
  text-align: center;
  width: 50vw;
}

.quadratini {
  position: absolute;
  transform: translate(0, -50%);
  left: 10vw;
  top: 50vh;
  width: 25px;
  height: 65px;
}

.quadratino {
  margin-top: 10px;
  left: 0%;
  width: 15px;
  height: 15px;
  border: 1px solid white;
}

.text5 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 45vh;
  font-family: 'Public Sans';
  text-align: center;
  width: 50vw;
}

.button4 {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50vw;
  top: 75vh;
  width: 330px;
  height: 33px;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Public Sans';
  border: 1.5px solid white;
}

.scheda_richiesta {
  position: absolute;
  height: 100vh;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
}


/* //spinner */


.spinner{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50vw;
  top: 50vh;
  height: 126.5px;
  width: 63px;
  /* border:1px solid red; */
  /* animation: rotate 1s infinite linear; */
}

.spinner_general{
  position: absolute;
  left: 0;
  width: 100%;
}

@keyframes spinner1 {
  0% {
    bottom: 15px;
    opacity: 0;
  }

  33.3% {
    bottom: 0px;
    opacity: 1;
  }

  100% {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes spinner2 {
  0% {
    bottom: 62.6px;
    opacity: 0;
  }

  16.6% {
    bottom: 62.6px;
    opacity: 0;
  }

  50% {
    bottom: 47.6px;
    opacity: 1;
  }

  100% {
    bottom: 47.6px;
    opacity: 1;
  }
}

@keyframes spinner3 {
  0% {
    bottom: 89.3px;
    opacity: 0;
  }

  33.3% {
    bottom: 89.3px;
    opacity: 0;
  }

  66.6% {
    bottom: 74.3px;
    opacity: 1;
  }

  100% {
    bottom: 74.3px;
    opacity: 1;
  }
}

@keyframes spinner4 {
  0% {
    bottom: 109.4px;
    opacity: 0;
  }

  50% {
    bottom: 113.4px;
    opacity: 0;
  }

  83% {
    bottom: 98.4px;
    opacity: 1;
  }

  100% {
    bottom: 98.4px;
    opacity: 1;
  }
}

@keyframes spinner5 {
  0% {
    bottom: 134.9px;
    opacity: 0;
  }

  66.6% {
    bottom: 134.9px;
    opacity: 0;
  }

  95% {
    bottom: 119.9px;
    opacity: 1;
  }

  100% {
    bottom: 119.9px;
    opacity: 1;
  }
}



.spinner1{
  height: 32.6px;
  animation: spinner1 1.5s infinite linear;
}

.spinner2{
  bottom: 47.6px;
  height: 11.7px;
  animation: spinner2 1.5s infinite linear;
}

.spinner3{
  bottom: 74.3px;
  height: 9.1px;
  animation: spinner3 1.5s infinite linear;
}

.spinner4{
  bottom: 98.4px;
  height: 6.5px;
  animation: spinner4 1.5s infinite linear;
}

.spinner5{
  bottom: 119.9px;
  height: 3.9px;
  animation: spinner5 1.5s infinite linear;
}



.loading {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 51vw;
  top: 47vh;
  font-family: 'Public Sans';
  text-align: center;
  font-size:20px;
  font-weight: bold;
}


.button7 {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50vw;
  top: 80vh;
  width: 220px;
  height: 33px;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Public Sans';
  border: 1.5px solid black;
}

.text_elab{
  position: absolute;
  bottom: 45vh!important;
  width: 90vw!important;
}

.text_elab_compl{
  position: absolute;
  bottom: 37vh!important;
  width: 90vw!important;
}

.elaborazione_barra_vuota{
position: absolute;
transform: translate(-50%, -50%);
left: 50vw;
top: 50vh;
width: 540px;
height: 16px;
border: 1.5px solid black;
}

@keyframes width_barra_elaborazione {
  0%{ width:0;}
  100%{width:532px}
}

.elaborazione_barra_piena{
position: absolute;
left:4px;
top:4px;
animation: width_barra_elaborazione 4.5s forwards linear;
height: 8px;
background-color: black;
}


/* ---------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------*/
/* certificato */
/* ---------------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------*/

@keyframes comparsa_dopo {
  0%{ opacity:0}
  0.1%{ opacity:1}
  100%{opacity:1}
}

.comparsa_dopo{
  animation: comparsa_dopo 1.5s forwards!important;
}


.attention_box{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  width: 900px;
  height: 300px;
  /* border:1px solid red; */
  box-shadow: 7px 7px 25px 15px rgba(0,0,0,0.15);
}

.black_attention_box{
  position: absolute;
  left:0;
  top:0;
  width:840px;
  height: 60px;
  font-family: 'Public Sans';
  padding-left: 60px;
  padding-top: 20px;
}

.icon_attention_box{
  position: absolute;
  left:60px;
  top:130px;
  width:65px;
}

.icon_complete_box{
  position: absolute;
  left:60px;
  top:142px;
  width:65px;
}

.text_attention_box{
  position: absolute;
  left:160px;
  top:130px;
  width:80%;
  /* border: 1px solid green; */
  position: absolute;
  line-height: 23pt;
  font-family: 'Public Sans';
  width: 70vw;
  font-size: 18pt;
}

.text_complete_box{
  position: absolute;
  left:160px;
  top:130px;
  /* border: 1px solid green; */
  position: absolute;
  line-height: 23pt;
  font-family: 'Public Sans';
  width: 70%;
  font-size: 18pt;
}

.button_attention_box{
  position: absolute;
  right:60px;
  bottom:40px;
  font-size: 18pt;
  font-family: 'Public Sans';
  font-size: 15pt;
  border:1px solid black;
  padding:8px 50px 8px;
}

.nuovi_nomi_div{
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top:50vh!important;
  width:800px;
  height:300px;
  /* border:1px solid black; */
}



.fototessera{
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.text_new_name {
  /* display: inline-block; */
  font-family: 'Public Sans';
  font-size: 20pt;

  /* border: 1px solid black; */
}

.nuovi_nomi_div2{
  position: absolute;
  left:350px;
  margin-top:-10px!important;
}

.born{
  top: 50px;
}

/* .dead{
  top: 100px;
} */

/* .age{
  top: 120px;
} */
.nomi_piccolo{
  font-family: 'Public Sans';
  font-size: 10pt!important;
  font-weight: bold;
  opacity: 0.3;
}

.job_piccolo{
  top: 118px;
}

.job{
  top: 133px;
}

.religion_piccolo{
  top: 178px;
}

.religion{
  top: 193px;
}

.bio_piccolo{
  top: 238px;
}

.bio{
  top: 253px;
}

.logo7 {
  position: absolute;
  width: 165px;
  left: 0;
  top: -145px;
}

.button_box{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  width: 900px;
  height: 250px;
  /* border:1px solid red; */
  box-shadow: 7px 7px 25px 15px rgba(0,0,0,0.15);
}

.icon_button_box{
  position: absolute;
  left:60px;
  top:130px;
  width:53px;
}
