body::-webkit-scrollbar {
  display: none;
}

/* attributi soli */
.black {
  background-color: black;
}

.white {
  background-color: white;
}

.white_txt {
  color: white;
}

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.title_size {
  font-size: 30pt;
}

.text_size {
  font-size: 20pt;
}

.opacity_05 {
  opacity: 0.2
}


/* comuni */
.centered {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 55vh;
  width: 100vw;
  height: 110vh;
}

.eliminated {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: -70vw;
  width: 100vw;
  height: 100vh;
}

@keyframes eliminated_slideup {
  from {
    top: 50vh
  }

  to {
    top: -50vh;
  }
}

.eliminated_slideup {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 100vh;
  animation: eliminated_slideup 2s forwards;
}

@keyframes centered_slideup {
  from {
    top: 150vh
  }

  to {
    top: 55vh;
  }
}

.centered_slideup {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 100vw;
  height: 110vh;
  animation: centered_slideup 2s forwards;
}

.button {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50vw;
  top: 75vh;
  /* width: 120px; */
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Public Sans';
  border: 0;
}

.eliminated_arrow {
  position: absolute;
  transform: translate(-50%, 0%);
  left: -150vw;
  top: 75vh;
}

.centered_arrow {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50vw;
  top: 75vh;
}

.arrow {
  width: 72px;
}

@keyframes button_lampeggiante {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
  }
}

.lampeggio {
  animation: button_lampeggiante 2s infinite;
}

/* specifici */
.logo {
  position: absolute;
  width: 400px;
  /* height: 19.5vh; */
  transform: translate(-50%, -50%);
  left: 50.5%;
  top: 45%;
}

.text {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  font-family: 'Public Sans';
  text-align: center;
  width: 50vw;
}

.quadratini {
  position: absolute;
  transform: translate(0, -50%);
  left: 10vw;
  top: 50vh;
  width: 25px;
  height: 130px;
}

.quadratino {
  margin-top: 10px;
  left: 0%;
  width: 15px;
  height: 15px;
  border: 1px solid white;
}

.text5 {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 45vh;
  font-family: 'Public Sans';
  text-align: center;
  width: 50vw;
}

.button5 {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50vw;
  top: 65vh;
  width: 330px;
  height: 33px;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Public Sans';
  border: 1.5px solid white;
}

.scheda_richiesta {
  position: absolute;
  height: 100vh;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform:translate(-50%, -50%)  rotate(360deg);
  }
}


.spinner{
  position: absolute;
  height: 30px;
  width: 30px;
  left: 44vw;
  top: 47vh;
  background-color: black;
  border-radius: 100%;
  animation: rotate 1s infinite linear;
}

.spinner_white{
  position: absolute;
  height: 18px;
  width: 18px;
  transform: translate(-50%, -50%);
  left: 44vw;
  top: 47vh;
  background-color: white;
  border-radius: 100%;
}

.spinner_square{
  position: absolute;
  height: 15px;
  width: 15px;
  padding-left: 0px;
  background-color: white;
}

.loading {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 51vw;
  top: 47vh;
  font-family: 'Public Sans';
  text-align: center;
  font-size:20px;
  font-weight: bold;
}

.text_new_name {
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  font-family: 'Public Sans';
  font-size: 20pt;
  width: 850px;
  height: 280px;

  /* border: 1px solid black; */
}

.born{
  position: absolute;
  top: 85px;
}

.dead{
  position: absolute;
  top: 85px;
  left: 220px;
}

.age{
  position: absolute;
  top: 170px;
}

.job{
  position: absolute;
  top: 170px;
  left: 220px;
}

.religion{
  position: absolute;
  top: 170px;
  left: 440px;
}

.bio{
  position: absolute;
  top: 255px;
}

.button7 {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50vw;
  top: 80vh;
  width: 220px;
  height: 33px;
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Public Sans';
  border: 1.5px solid black;
}

.text_elab{
  position: absolute;
  top: 45vh!important;
  width: 90vw!important;
}

.elaborazione_barra_vuota{
position: absolute;
transform: translate(0, -50%);
left: 25vw;
top: 50vh;
width: 50vw;
height: 10px;
border: 1.5px solid black;
}

@keyframes width_barra_elaborazione {
  0%{ width:0%;}
  100%{width:100%}
}

.elaborazione_barra_piena{
position: absolute;
animation: width_barra_elaborazione 3s forwards linear;
height: 100%;
background-color: black;
}
