@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,700&display=swap');

/* //margini:predefinito */

body{
  margin:0mm;
}
.no_print{
  display: none!important;
}

.certificato_top
 {
  position: absolute;
  width: 100%;
}

.certificato_bottom
 {
  position: absolute;
  width: 100%;
  bottom:0px;
}

.certificato_firma
 {
  position: absolute;
  width: 67mm;
  bottom:50mm;
  right:15mm;
}

.testo_certificato{
  position: absolute;
  line-height: 23pt;
  width:173mm;
  left: 19mm;
  font-size: 13pt;
  font-family: sans-serif;
}

.top1{
    top: 116mm;
}

.top2{
    top: 157mm;
}

.top3{
    top: 166mm;
}

.info_certificato{
  left:55mm!important;
}

.top4{
    top: 225mm;
}

.top5{
    bottom: 52mm;
}
